Backend/lib64
Backend/lib

**/.venv/
**/.idea/*
**/bin/
lib/*
lib64/*
include/*
**/myenv/
**/__pycache__/*

pyvenv.cfg
**/Database/migrations/


**/.venv/
**/.idea/*
**/bin/
lib/*
lib64/*
include/*
mysite/test.py
mysite/__pycache__/*

pyvenv.cfg
**/Database/migrations/

node_modules
.env
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
mysql-data