.MainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.RegistrationBox {
    height: 280px;
    width: 350px;
    border: 2px solid gray;
}

.RegistrationTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TextFieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.TextFieldListContainer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
}