.venv/
.idea/
bin/
lib/*
lib64/*
lib64
include/*
mysite/test.py
**/__pycache__/*
myenv/

myenv/
*/__pycache__/
mysite/Database/__pycache__
mysite/mysite/__pycache__
mysite/mysite/Database/__pycache__
mysite/mysite/Database/Serializer/__pycache__

pyvenv.cfg
*/__pycache__/
mysite/Database/__pycache__
mysite/mysite/__pycache__
mysite/mysite/Database/__pycache__
mysite/mysite/Database/Serializer/__pycache__